<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066458796542-2b73g1gdolf4r0i7j62s54353oonh0r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066458796542-2b73g1gdolf4r0i7j62s54353oonh0r1</string>
	<key>API_KEY</key>
	<string>AIzaSyDDaESnAmOIjf4VR-biePa6eD9-L0EqbwA</string>
	<key>GCM_SENDER_ID</key>
	<string>1066458796542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.faithpays.tlwc</string>
	<key>PROJECT_ID</key>
	<string>tlwc-926d7</string>
	<key>STORAGE_BUCKET</key>
	<string>tlwc-926d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066458796542:ios:c0d90564735bff7ba530af</string>
</dict>
</plist>