<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839433714671-qvgj9d5903ulvhbknoscqep2q0v6orq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839433714671-qvgj9d5903ulvhbknoscqep2q0v6orq9</string>
	<key>API_KEY</key>
	<string>AIzaSyACKR3K9KdKnTfIo59oZ06uVJ97tYzG5NY</string>
	<key>GCM_SENDER_ID</key>
	<string>839433714671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.tlwcchurchwpg.ca</string>
	<key>PROJECT_ID</key>
	<string>new-tlwc</string>
	<key>STORAGE_BUCKET</key>
	<string>new-tlwc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839433714671:ios:f1939a1ca050c03de1d41a</string>
</dict>
</plist>